<!DOCTYPE html>
<!-- Color-mode uses clients system preferences -->
<html color-mode="user" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>>HTMX 📝</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.3"
      integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="./styles/animation.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">

    <meta name="description" content="simple yet powerful htmx site" />
  </head>
  <body>
    <main class="split-screen" hx-boost="true">
      <nav class="split-screen__half" hx-trigger="load" hx-get="/nav"></nav>
      <content hx-trigger="load" hx-get="/home" id="content" class="split-screen__half slide-it">
      </content>
    </main>
    <script> // Register the service worker
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register("/service-worker.js")
          .then(function () {
            console.log("Service Worker Registered");
          });
      }
    </script>
  </body>
</html>
